.bubble-outer-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.bubble {
  position: absolute;
  width: 90%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
  z-index: 1;
  /* Center self */
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%); 
}

.bubble-item-container {
  position: absolute;
  width: 90%;
  aspect-ratio: 1 / 1;
  /* Center self */
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%); 
  /* Center children */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
