:root {
  --layout-padding: 1rem;
  --grid-size: 6.25rem;
  --icon-size: 75%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.icon-button {
  width: fit-content;
  padding: 0
}

.icon-button svg {
  width: var(--icon-size);
  height: var(--icon-size);
}
