.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* Consider moving content/grid styles somewhere more logical? */
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  padding: 0 var(--layout-padding);
  background-color: #252422;
  min-height: 100vh;
}

.gridContainer {
  width: 100%;
  background-color: var(--grid-bg-light);
  border-radius: var(--container-border-radius);
  border: var(--container-border);
}

.gridContainer {
  /* Leave this as a reminder of the idea that grid would take */
  /* 4 / 5 of the vh. Instead, define info-container and rest is dynamic */
  /* height: calc((100vh / 5) * 4); */
  margin-bottom: var(--layout-padding);
  padding: var(--layout-padding);
  display: flex;
  justify-content: center;
}

.grid-item-container {
  aspect-ratio: 1 / 1;
}

.gridItemDark,
.gridItemLight {
  aspect-ratio: 1 / 1;
}

.gridItemDark {
  background-image: repeating-conic-gradient(
    var(--grid-bg-dark) 0deg 45deg,
    var(--grid-bg-light) 45deg 135deg,
    var(--grid-bg-dark) 135deg 180deg
  );
  border: var(--grid-item-border)
}

.gridItemLight {
  background-color: var(--grid-bg-light);
}
