.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
  padding: 0 var(--layout-padding);
  background-color: #252422;
}

.infoContainer,
.gridContainer {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 1rem;
}

.infoContainer {
  height: calc(100vh / 5);
  margin: var(--layout-padding) 0;
}

.gridContainer {
  height: calc((100vh / 5) * 4);
  margin-bottom: var(--layout-padding);
  padding: var(--layout-padding);
  display: flex;
  justify-content: center;
}

.gridItemDark {
  background-color: #ACACAC;
}

.gridItemLight {
  background-color: #FFFFFF;
}